/* ------------------------------------
    Google Font
-------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap");

:root {
  /* ! colour */
  --main-color: #3a3a3a;
}
/* ------------------------------------
    ! default style start
-------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}
/* ------------------------------------
    ! default style end
-------------------------------------*/

/* ------------------------------------
    ! repate use style start
-------------------------------------*/
.container {
  padding: 0 7rem;
}
.btn {
  padding: 10px 24px;
  background: #e02c6d;
  border-radius: 41px;
  font-weight: 600;
  color: white;
}
.mt {
  margin-top: 100px;
}
.mb {
  margin-bottom: 100px;
}
/* ------------------------------------
    ! repate use style end
-------------------------------------*/
/* ------------------------------------
    ! header style start
-------------------------------------*/
header {
  padding: 2rem 0;
  color: var(--main-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  font-family: "Lobster", cursive;
  letter-spacing: 2px;
}
.fa-bars.menu-icon {
  display: none;
}
nav {
  display: flex;
  column-gap: 34px;
  align-items: center;
}
.menu-list {
  display: flex;
  column-gap: 34px;
}
.menu-list li {
  font-weight: 600;
}
.menu-list li a {
  color: #3a3a3a;
}
.fa-magnifying-glass,
.fa-cart-arrow-down {
  font-size: 22px;
}
/* ------------------------------------
    ! header style end
-------------------------------------*/

/* ------------------------------------
    ! home style start
-------------------------------------*/
.home {
  display: flex;
  align-items: center;
  color: var(--main-color);
}
.left-home,
.right-home {
  width: 50%;
}
.heading {
  font-size: 52px;
  line-height: 70px;
}
.sub-heading {
  margin-top: 16px;
  margin-bottom: 16px;
}
.fa-arrow-right {
  margin-left: 8px;
}
.right-home {
  text-align: center;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.home-img {
  width: 90%;
  padding: 1rem;
}
/* ------------------------------------
    ! home style end
-------------------------------------*/

/* ------------------------------------
    ! our-company style end
-------------------------------------*/
.our-company {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-column-gap: 60px;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 0 1px #aaaaaa; */
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  outline: none;
}
.company {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
/* ------------------------------------
    ! our-company style end
-------------------------------------*/

/* ------------------------------------
    ! products style end
-------------------------------------*/
.products {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  grid-gap: 30px;
}
.product-title {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--main-color);
}
.product {
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: var(--main-color);
}
.product-details {
  margin-top: 0.5rem;
}
.product-details h3 {
  margin: 0.2rem 0;
}
.rating {
  display: flex;
  align-items: center;
}
.fa-star,
.fa-star-half-stroke {
  color: #fb8200;
}
.point {
  margin-left: 1rem;
}
.see-more {
  text-align: end;
  display: block;
}
/* ------------------------------------
    ! products style end
-------------------------------------*/

/* ------------------------------------
    ! feature style start
-------------------------------------*/
.features {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  color: var(--main-color);
}
.left-feature,
.right-feature {
  width: 50%;
}
.right-feature h2 {
  font-size: 38px;
}
.right-feature p {
  margin: 1.4rem 0;
}
/* ------------------------------------
    ! feature style end
-------------------------------------*/
/* ------------------------------------
    ! footer style start
-------------------------------------*/
footer {
  background-color: #0a0826;
  color: white;
  padding: 4rem 0;
  text-align: center;
}
.media-icon {
  margin-top: 1rem;
  margin-right: 1rem;
}
.footer p {
  margin-top: 0.4rem;
}
/* ------------------------------------
    ! footer style end
-------------------------------------*/

/* ------------------------------------
    ! Media Quary style start
-------------------------------------*/

/* ! tab */
@media only screen and (min-width: 673px) and (max-width: 990px) {
  .container {
    padding: 0 3rem;
  }
  /* hone responsive start */
  .home {
    flex-direction: column-reverse;
  }
  .left-home {
    text-align: center;
    margin-top: 18px;
  }
  .left-home,
  .right-home {
    width: 100%;
  }
  /* hone responsive end */
  /* our-company responsive start */
  .our-company {
    grid-template-columns: repeat(5, 80px);
  }
  /* our-company responsive end */
  /* products responsive start */
  .products {
    grid-template-columns: repeat(2, 300px);
  }
  /* products responsive end */
  /* feature responsive start */
  .features {
    flex-direction: column-reverse;
  }
  .right-feature {
    text-align: center;
    margin-bottom: 2rem;
  }
  .left-feature,
  .right-feature {
    width: 100%;
  }
  /* feature responsive end */
}

/* ! phone */
@media only screen and (max-width: 672px) {
  .container {
    padding: 0 1rem;
  }
  /* ! header responsive */
  .menu-list {
    display: none;
  }
  .fa-bars.menu-icon {
    display: block;
    font-size: 22px;
  }
  /* ! header responsive */
  /* hone responsive start */
  .home {
    flex-direction: column-reverse;
  }
  .left-home {
    text-align: center;
    margin-top: 18px;
  }
  .left-home,
  .right-home {
    width: 100%;
  }
  .heading {
    font-size: 24px;
    line-height: 42px;
  }
  /* hone responsive end */
  /* our-company responsive start */
  .our-company {
    grid-template-columns: repeat(4, 50px);
    grid-column-gap: 30px;
  }
  .company {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  /* our-company responsive end */
  /* products responsive start */
  .products {
    grid-template-columns: repeat(1, 300px);
  }
  /* products responsive end */
  /* feature responsive start */
  .features {
    flex-direction: column-reverse;
  }
  .right-feature {
    text-align: center;
    margin-bottom: 2rem;
  }
  .left-feature,
  .right-feature {
    width: 100%;
  }
  .right-feature h2 {
    font-size: 30px;
  }
  /* feature responsive end */
}
/* ------------------------------------
    ! Media Quary style end
-------------------------------------*/
